<% layout("/layouts/boilerplate")%>

<body>

      <h3 class="h3"> All Listings</h3><br>
   <div class="row ">
    <% for(listings of allListings) { %>
        <div class="card image-container" style="width: 22rem;">
            <a href="/listing/<%= listings._id %>" class="listing-link">
            <img src="<%= listings.image %>" class="card-img-top zoom-image " alt="image of list">
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text">
                <b><%= listings.title %></b> <br>
               <!-- &#8377; --><%= listings.price.toLocaleString("en-IN", { style: "currency", currency: "INR" })%>/night
              </p>
            </div>
            </a>
          </div>
        
          <% } %>
   </div>
    
</body>
